*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul, 
ol, 
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

:root {
    --drak-gray: #282828;
    --dark-blue: #141922;
    --dark: #000;
}

/* body */
body{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content, .main-content{
    flex-grow: 1;
}


.tolb-player{
    background-color: var(--drak-gray);
    height: auto;
    flex-shrink: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* content */
.content{
    display: flex;
    overflow: hidden;
}

.content .main-header{
    background-color: var(--dark);
    flex-basis: 200px;
    overflow: hidden;
}

.content .main-content{
    overflow-y: auto;
}

/* mediaquery main-header */
@media screen and (max-width: 552px){
    .content .main-header{
        flex-basis: 47px;
    }
}


/* tolb-player */
.row{
    display: flex;
    align-items: center;
}

.row-tolb-player{
    justify-content: space-between;
    padding: 10px;
}

.row-song{
    gap: 10px;
}

.row-play{
    flex-direction: column;
}

.row-play-icon{
    justify-content: center;
    gap: 20px;
}

.row-player{
    justify-content: space-between;
    
}

.col-img-tolb-player{
    width: 40px;
}

.col-text-img-tolb-player{
    width: 78px;
}

.col-icon-tolb-player .col-icon{
    background-color: transparent;
}

.col-player{
    width: 100%;
}

.col-play-icon{
    font-size: 16px;
}

.col-play-icon-big{
    font-size: 30px;
    margin: 10px;
}

.col-command-bar{
    flex-basis: 50%;
}

.col-bar{
    width: 100%;
}

.col-progress{
    width: 80%;
    border: 2.5px solid #5a5a5a;
    border-radius: 15px;
}

.col-command{
    flex-basis: 15%;
}

.col-command-progress{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;

}

.progress-song{
    height: 0;
    width: 88px;
    border: 2.5px solid #5a5a5a;
    border-radius: 15px;
}

.text-white{
    color: white;
}

.text-gray{
    color: gray;
}

.text-small{
    font-size: 10px;
}

.text-bold{
    font-weight: bold;
}

.icon-small{
    font-size: 13px;
}

/* mediaquery aside */
@media screen and (max-width: 878px){
    .row-tolb-player{
        gap: 36px;
    }
}

@media screen and (max-width: 639px) {
    .row-icon{
        flex-direction: column;
        gap: 2px;
    }

    .col-command .row-command, .col-command-icon{
        gap: 7px;
    }

    .col-text-img-tolb-player{
        width: 63px;
    }

    .col-player{
        width: 100%;
    }
}

@media screen and (max-width: 552px){
    .row-tolb-player{
        gap: 30px;
    }
}