*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul, 
ol, 
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* body */
body{
     background-color: #141922;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content, .album-content{
    flex-grow: 1;
}

.tolb-player{
    background-color: #282828;
    height: auto;
    flex-shrink: 0;
}

/* main-content */
.main-content{
    display: flex;
}

.main-content .main-header{
    background-color: #000;
    width: 200px;
    flex-shrink: 0;
}

/* mediaquery main-header */
@media screen and (max-width: 552px){
    .main-content .main-header{
        width: 47px;
    }
}


/* tolb-player */
.row{
    display: flex;
    align-items: center;
}

.row-tolb-player{
    justify-content: space-between;
    padding: 10px;
}

.row-song{
    gap: 10px;
}

/* .col{
    border: 2px solid white;
} */

.col-img-tolb-player{
    width: 44px;
}

.col-text-img-tolb-player{
    width: 78px;
}

.col-icon-tolb-player .col-icon{
    background-color: transparent;
}

.text-white{
    color: white;
}

.text-gray{
    color: gray;
}

.text-small{
    font-size: 14px;
}

.text-x-small{
    font-size: 11px;
}

/* mediaquery aside */

@media screen and (max-width: 639px) {
    .row-icon{
        flex-direction: column;
        gap: 2px;
    }
}